.navigation-wrapper{
  .background-shape{
    z-index: -1;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }
  .navigation{
    width: 70%;
    margin: auto;
    top: 1%;
    .licx-logo{
      width: 7em;
    }
  }
  margin-bottom: 7em;
}