.balance {
  @media (min-width: 300px){
    height: 30vh;
  }
  .balance-wrapper {
    color: black;
    box-shadow: 0 7px 28px lightgray;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 45%;
    @media (min-width: 300px){
      height: 40%;
    }
    &:last-child {
      bottom: 0;
    }
    .balance-logo {
      width: 30%;
    }
    .balance-text {
      width: 70%;
      text-align: left;
      padding-left: .7em;
      .balance-title {
        font-size: 1.6em;
      }
      .balance-value {
        font-weight: bold;
        font-size: larger;
      }
    }
  }
}

@media (max-width: 576px) {
  div .balance-wrapper {
    position: relative;
    margin-top: 20px;
  }
}
